@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(images/background1.png);
    background-repeat: no-repeat;
    background-color: #FFF6CC;
    text-align: center;
}
header{
    font-family: 'Raleway', sans-serif;
    font-size: 36pt;
    text-align:right;
    padding:15px;
    margin-right:20px;
}
h1{
    font-family: 'Raleway', sans-serif;
    font-size:14pt;
}
nav{
    position:relative;
    width: 100%;
    height: 100%;
}
img{
    width:150px;
}
#home{
    position: absolute;
    top:-50px;
    left:10px;
    background-color:transparent;
}
p#homez{
    position: absolute;
    font-family: 'Droid Sans', sans-serif;
    font-size: 15pt;
    text-align: left;
    background-color: rgba(252,217,32,0.5);
    padding:20px;
    margin-left: 50px;
    margin-top: 175px;
    border-radius: 20px;  
}
#gym{
    position:absolute;
    top:30px;
    left:360px;
    background-color:transparent;
}
p#gymz{
    position: absolute;
    font-family: 'Droid Sans', sans-serif;
    font-size: 15pt;
    text-align: left;
    background-color: rgba(229,59,81,0.5);
    padding:20px;
    margin-left: 590px;
    margin-top: 50px;
    border-radius: 20px;
    
}
#art{
    position:absolute;
    top:300px;
    left:500px;
    background-color:transparent;
}
p#artz{
    position: absolute;
    font-family: 'Droid Sans', sans-serif;
    font-size: 15pt;
    text-align: left;
    background-color: rgba(236,108,32,0.5);
    padding:20px;
    margin-left: 160px;
    margin-top: 320px;
    border-radius: 20px; 
}
#music{
    position:absolute;
    top:400px;
    left:910px;
    background-color:transparent;
}
p#musicz{
    position: absolute;
    font-family: 'Droid Sans', sans-serif;
    font-size: 15pt;
    text-align: left;
    background-color: rgba(60,181,181,0.5);
    padding:20px;
    margin-left: 700px;
    margin-top: 100px;
    border-radius: 20px; 
}
footer{
    text-align:center;
    background-color:#3CB5B5;
    bottom:0px;
    position:fixed;
    width:100%;
}
a:link, a:visited{
    font-family: 'Raleway', sans-serif;
    padding:20px;
    color:#FCB920;
    text-decoration: none;
}
a:hover{
    color:#E53B51;
}
